body{
  background-color: #D4E8F1;
  color:black;
  font-family: helvetica,arial,sans-serif;
  position: absolute;
}
h1{

  margin-left: 20px;

}
.tabla-muro{
  width: 350px;
  height: 200px;
  border-collapse: collapse;
  border: 1px solid gray ;
  margin: 20px;
  padding: 20px;
}
.celda-muro{
   width: 100px;
   height: 200px;
   text-align: center;
   margin: 15px;
   padding: 15px;
 }

.texto-muro{
  width: 300px;
  height: 180px;
  font-size: 15px;
  resize: none;

}
.error-publicacion{
  font-family: cursive;
  font-size: 14px;
  color: red;
  margin-left: 15px;
}
.dropdown{
  font-size: 14px;
  bottom: 5px;
  margin-left:120px;
}
.publicar{
  font-size: 14px;
  border-radius: 4px;
  bottom: 5px;
  margin-left: 10px;
}
.posteo{
  position: relative;
  border: 1px solid grey;
  padding: 22px;
  margin:35px;
  display: block;
  width: 280px;
  height: 150px;
  background: white;
  font-size: 15px;
  align-content:stretch;
  }
  .amigosFiltro{
    font-size: 15px;;
    margin-left: 40px;
  }
  .publicoFiltro{
    font-size: 15px;
    margin-left: 10px;
  }
  .a1{
    position: absolute;
    font-size: 14px;
    bottom: 5px;
    left: 15px;

  }
  .a2{
    position: absolute;
    font-size: 14px;
    bottom: 5px;
    left: 75px;

  }
