body{
  background-color: #D4E8F1;
  color:black;
}
h1{
  font-family: cursive;
  margin-left: 15px;

}
.tabla-muro{
  width: 100px;
  border-collapse: collapse;
  border: 1px solid gray ;
  margin: 20px;
  padding: 20px;
  font-family: cursive;
}
.celda-muro{
   width: 100px;
   text-align: right;
   margin: 15px;
   padding: 15px;
 }
}
.texto-muro{
  font-family: cursive;
  width: 300px;
  height: 100px;

}
.error-publicacion{
  font-family: cursive;
  font-size: 14px;
  color: red;
  margin-left: 15px;
}
.dropdown{
  font-size: 14px;
  bottom: 5px;
  margin-left:120px;
}
.publicar{
  font-size: 14px;
  border-radius: 4px;
  bottom: 5px;
  margin-left: 10px;
}
.posteo{
  position: relative;
  border: 1px solid grey;
  padding: 22px;
  margin:22px;
  display: block;
  width: 350px;
  height: 150px;
  background: white;
  font-family: cursive;
  font-size: 19px;
  }
  .amigosFiltro{
    font-size: 15px;
    font-family: cursive;
    margin-left: 40px;
  }
  .publicoFiltro{
    font-size: 15px;
    font-family: cursive;
    margin-left: 10px;
  }
  .a1{
    position: absolute;
    font-size: 14px;
    bottom: 5px;
    left: 15px;

  }
  .a2{
    position: absolute;
    font-size: 14px;
    bottom: 5px;
    left: 75px;

  }
