body{
  background-color: gray;
  color:black;
  font-family: helvetica,arial,sans-serif;
}
h2{
  text-align: center;
  margin-top: 100px;
}
.tabla-login{
  text-align: center;
  background-color: blue;
  color: white;
  border:1px solid blue;
  position:absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -120px;
  height: 300px;
  margin-top: -150px;
  padding: 18px 20px;
}
.login-form{
  text-align: left;
  padding: 0px 9px;
  width: 100%;
}
.error{
  text-align: left;
  color: red;
  font-size: 12px;
  padding: 0px 9px;
  width: 100%;
}
.boton{
  border-radius: 4px;
  text-align: center;
  font-style: italic;
  font-size: 18px;

}
